/* app css stylesheet */
body {
    padding-bottom: 120px;
}

.chart {
  height: 45vh;
  margin-bottom: 2em;
}

.heatmap{
  height: 36vh;
}

.axis-title {
  height: 4vh;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.axis-label {
  margin-top: 0px;
  padding-top: 0px;
}
.axis-xlabel {
  font-size: 16px;
  text-align: center;
}

.axis-y {
  height: 37vh;
}

.axis-y1 {
  position: absolute;
  top: 0;
  right: 0;
}

.axis-y0 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.axis-x {
  height: 5vh;
}

.full-screen {
  height: 90vh;
}

td {
  min-width: 80px;
}

.summary {
  min-height: 400px;
}

.footer {
  padding: 5px 0px 5px 0px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:8888;
  overflow: scroll;
  max-height: 100px;
}

#run-id-div {
  display: inline-block;
}

.footer-buttons {
  margin: 0px 0px 5px 5px;
}

#hosts-div {
  display: inline-block;
  float: right;
}

#sum-buttons {
  display: inline-block;
  float: right;
}
