<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 summary">
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th>Run ID</th>
            <th>Exit status</th>
            <th>stdout</th>
            <th>stderr</th>
            <th>time</th>
            <th>Execution time</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="measurement in measurements"
              ng-class="measurement.run_id == runId && 'info'">
            <td><a href="#/measurement/{{measurement.run_id}}/{{host}}">{{measurement.run_id}}</td>
            <td ng-class="measurement.time.exit_clean || 'danger'">
              <span ng-class="measurement.time.exit_clean && 'success' || 'bg-danger'">{{measurement.time.exit_status}}</span></td>
            <td><a href={{measurement.stdout.filename}}>stdout</a></td>
            <td><a href={{measurement.stderr.filename}}>stderr</a></td>
            <td><a href={{measurement.time.filename}}>time</a></td>
            <td>{{measurement.time.elapsed_time_sec}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="summary col-md-6" id="id_summary">
      Bar chart here
    </div>
  </div>
  <!--End summary row-->

  <a ng-repeat="measurement in measurements" href="#/measurement/{{measurement.run_id}}/{{host}}">
    <button type="button" class="btn btn-xs"
                          ng-class="measurement.run_id == runId && 'btn-primary'">
      {{measurement.run_id}}</button> </a>

  <a ng-repeat="thisHost in hosts" 
     href=#/measurement/{{runId}}/{{thisHost}}>
    <button type="button" class="btn btn-xs"
                          ng-class="host == thisHost && 'btn-primary'">
      {{thisHost}}</button></a>
</div>

<div class="container-fluid">
  <h2> {{description}}</h2>
  <p class="muted"> {{timestamp}}</p>
  <div class="row">
    <div ng-repeat="chart in allTimeCharts" class="col-md-6 text-right">
      <a href={{measurement[chart][host].finalFilename}}>
      <span class="glyphicon glyphicon-download" aria-label="data" aria-hidden="true"></span>
      </a>
      <div class="col-md-12 chart {{measurement[chart].type}}" id="id_{{chart}}">
    </div>
    </div>
    <div ng-repeat="chart in allHeatmaps" class="col-md-6 chart text-right">
      <a href={{measurement[chart][host].finalFilename}}>
      <span class="glyphicon glyphicon-download" aria-label="data" aria-hidden="true"></span>
      </a>
      <h3 class="text-center">{{measurement[chart].title}}</h3>
      <canvas class="" id="id_{{chart}}">
      </canvas>
    </div>
  </div>
  <!--End row-->

</div>
