<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <table>
                <tr>
                    <th>Run ID</th>
                    <th>stdout</th>
                    <th>stderr</th>
                    <th>time</th>
                    <th>Execution time</th>
                    <th></th>
                </tr>
                <tr ng-repeat="measurement in measurements">
                    <td>{{measurement.runId}}</td>
                    <td><a href={{measurement.stdout.filename}}>stdout</a></td>
                    <td><a href={{measurement.stderr.filename}}>stderr</a></td>
                    <td><a href={{measurement.time.filename}}>time</a></td>
                    <td>...</td>
                    <td><a href=#/measurement/{{measurement.run_id}}>
                      More details</a></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <!--End row-->

</div>
