<a href="https://github.com/jschaub30/viz_workload" target="_blank">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="img/fork_me.png">
</a>
<div class="container-fluid">
  <h1> {{description}}</h1>
  <p class="muted"> {{timestamp}}</p>
  <div class="col-md-12">
  <div class="row">
    System snapshots:
    <ul class="list-inline">
      <li ng-repeat="host in hosts">
        <a href={{host}}.html>{{host}}</a>
      </li>
    </ul>
  </div>
  </div>
  <div class="row">
    <div class="col-md-6 summary">
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th>Run ID</th>
            <th>Exit status</th>
            <th>stdout</th>
            <th>stderr</th>
            <th>time</th>
            <th>Execution time</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="measurement in measurements"
              ng-class="measurement.run_id == runId && 'info'">
            <td><a href="#/measurement/{{measurement.run_id}}/{{host}}">{{measurement.run_id}}</td>
            <td ng-class="measurement.time.exit_clean || 'danger'">
              <span ng-class="measurement.time.exit_clean && 'success' || 'bg-danger'">{{measurement.time.exit_status}}</span></td>
            <td><a href={{measurement.stdout.filename}}>stdout</a></td>
            <td><a href={{measurement.stderr.filename}}>stderr</a></td>
            <td><a href={{measurement.time.filename}}>time</a></td>
            <td>{{measurement.time.elapsed_time_sec}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="summary col-md-6" id="id_summary">
      Bar chart here
    </div>
  </div>
  <!--End summary row-->

</div>

<div class="container-fluid" id="wrapper">
  <div class="row">
    <div ng-repeat="chart in allCharts" class="col-md-6 text-right">
      <!-- Single button -->
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-download" aria-label="data" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a href="{{measurement[chart][host].rawFilename}}">Raw data</a></li>
          <li><a href="{{measurement[chart][host].csvFilename}}">Final data (CSV)</a></li>
          <li ng-if="measurement[chart].type == 'heatmap'">
            <a href="{{measurement[chart][host].jsonFilename}}">Final data (JSON)</a></li>
        </ul>
      </div>
      <div ng-if="measurement[chart].type == 'timeseries'" class="col-md-12 chart timeseries" id="id_{{chart}}"> 
      </div>
      <div ng-if="measurement[chart].type == 'heatmap'" class="col-md-12 chart">
        <h4 class="text-center">{{measurement[chart].title}}</h4>
        <div class="col-md-1 axis-y">
          <div class="axis-y1"></div>
          <div class="axis-y0">{{measurement[chart].y0}}</div>
        </div>
        <div class="col-md-11" class="heatmap">
          <canvas class="heatmap" id="id_{{chart}}"></canvas>
          <span class="pull-left">t0</span>
          <span class="pull-right"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div id="run-id-div">
    <a ng-repeat="measurement in measurements" 
       href="#/measurement/{{measurement.run_id}}/{{host}}"
      class="btn btn-xs btn-default footer-buttons"
      ng-class="measurement.run_id == runId && 'btn-primary'">
      {{measurement.run_id}}</a>
  </div>
  <div id="hosts-div">
    <a ng-repeat="thisHost in hosts" 
       href=#/measurement/{{runId}}/{{thisHost}}
       class="btn btn-xs btn-default footer-buttons"
       ng-class="host == thisHost && 'btn-primary'">
      {{thisHost}}</a>
  </div>
  <div id="sum_buttons"></div>

</div>
